.animate {
  visibility: hidden;
}
@keyframes slidein-left {
  from {
    opacity: 0;
    transform: translateX(-710px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.animation-left.active {
  position: relative;
  visibility: visible;
  animation: slidein-left 1s ease-in-out 0s forwards;
}

@keyframes slidein-right {
  from {
    opacity: 0;
    transform: translateX(710px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animation-right.active {
  position: relative;
  visibility: visible;
  animation: slidein-right 1s ease-in-out 0s forwards;
}
